<!-- <footer class="footer">我是 footer</footer> -->
<footer class="footer">
  <div class="container">
    <div class="about-store">
      <ul class="page-list">
        <li class="page-item"><a href="../pages/index.html">首頁</a></li>
        <li class="page-item"><a href="#">系列鏡框</a></li>
        <li class="page-item"><a href="#">門市據點</a></li>
        <li class="page-item"><a href="#">部落格</a></li>
        <li class="page-item"><a href="#">常見問題</a></li>
      </ul>
      <ul class="social-list">
        <li>
          <a href="#"
            ><img src="../assets/images/footer/ic-social-fb.png" alt="fb"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/footer/ic_social_ig.png" alt="ig"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/footer/ic_social_line.png" alt="line"
          /></a>
        </li>
      </ul>
    </div>
    <div class="about-store-mobile">
      <ul class="contact">
        <li>
          <a href="tel:+0800-000-000"
            ><img
              src="../assets/images/footer/phone.png"
              alt="tel"
            />0800-000-000</a
          >
        </li>
        <li>
          <a href="mailto:glasses@business.com"
            ><img
              src="../assets/images/footer/mail.png"
              alt="mail"
            />glasses@business.com</a
          >
        </li>
      </ul>
      <ul class="social-list-mobile">
        <li>
          <a href="#"
            ><img src="../assets/images/footer/ic-social-fb.png" alt="fb"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/footer/ic_social_ig.png" alt="ig"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/footer/ic_social_line.png" alt="line"
          /></a>
        </li>
      </ul>
    </div>
    <hr />
    <div class="privacy">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul>
        <li>隱私權政策</li>
        <li>服務條款</li>
      </ul>
    </div>
  </div>
</footer>
