<nav class="nav">
  <div class="navbar container">
    <a href="../pages/index.html" class="logo">
      <img src="../assets/images/header/logo-white.png" alt="logo"
    /></a>
    <ul class="nav-list">
      <li class="nav-item"><a href="#" class="nav-link">系列鏡框</a></li>
      <li class="nav-item"><a href="#" class="nav-link">門市據點</a></li>
      <li class="nav-item"><a href="#" class="nav-link">部落格</a></li>
      <li class="nav-item"><a href="#" class="nav-link">常見問題</a></li>
    </ul>
  </div>
</nav>
